<div class="cocktail-container" >
  <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.image_url %>)">
    <h1><%= @cocktail.name %></h1>
    <%#= image_tag "#{@cocktail.image_url}", alt: "alttext", class:"cocktail_image" %>
    <div class="text-bg">
      <div class="instruction-card">
        <div><strong>You will have to do:</strong></div>
        <%= @cocktail.instructions %>
      </div>
      <%= render 'shared/ingredient_list' %>
      </div>
    </div>
    <%= render 'doses/new' %>
    <div class="btn-container">
      <%= link_to 'Back to Cocktails',  cocktails_path, class: "btn btn-warning"%>
      <%#= link_to 'Edit Recipe', new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>
  </div>
</div>
