<h2>Add a new ingredient</h2>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.error :ingredient %>
    <%= f.submit class: "btn btn-warning"%>
<% end %>

